[include mainsail.cfg]

# This file contains common pin mappings for the BIGTREETECH Manta M8P V1.0
# To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication.

# This config is currently only correct for V1.0 boards
# 
# See docs/Config_Reference.md for a description of parameters.

######################
####   Hardware   ####
######################

[include Config/Hardware/EBBCan.cfg]
[include Config/Hardware/Printer_MCU.cfg]
[include Config/Hardware/Steppers.cfg]
#[include Config/Hardware/Extruder.cfg]
[include Config/Hardware/Bed_Heater.cfg]
[include Config/Hardware/LED.cfg]
[include Config/Hardware/sfs.cfg]
[include Config/Hardware/Fans.cfg]
[include Config/Hardware/Thermistors.cfg]
[include Config/Probe/Probe.cfg]

####################
####   Macros   ####
####################

[include Macros/Print/print_macros.cfg]
[include Macros/Print/homing.cfg]
[include Macros/Print/base_macros.cfg]
[include Macros/Print/quad_gantry_level.cfg]
[include Macros/Helpers/Filament_Macros.cfg]
[include Macros/Helpers/Parking.cfg]
[include Macros/Helpers/safety_macros.cfg]
[include Macros/Helpers/power.cfg]
[include Macros/Helpers/Nozzle_scrub.cfg]
[include Macros/Calibration/calibration.cfg]
[include K-ShakeTune/*.cfg]
[include Macros/Calibration/test_speed.cfg]
[include Macros/Calibration/calibrate_flow.cfg]
[include Macros/Calibration/calibrate_pa.cfg]
[include KAMP_Settings.cfg]



[include Macros/Hardware_Functions/stealthburner_leds.cfg]
[include Macros/Hardware_Functions/air_filter_timer.cfg]
[include Macros/Hardware_Functions/Fan_Control.cfg]
[include Macros/Hardware_Functions/LEDs.cfg]

[include timelapse.cfg]

#####################
####   Scripts   ####
#####################

[include scripts/shell_commands.cfg]

# Enable arcs support
[gcode_arcs]
resolution: 0.1


#[filament_switch_sensor material_0]
#switch_pin: PC1

#[filament_switch_sensor material_1]
#switch_pin: PC2


#####################################################################
# 	Macros
#####################################################################

[gcode_macro G32]
gcode:
    BED_MESH_CLEAR
    G28
    QUAD_GANTRY_LEVEL
    G28
    G0 X90 Y90 Z30 F3600

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = -0.330
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 46.998
#*# pid_ki = 15.666
#*# pid_kd = 35.249
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 51.695
#*# pid_ki = 2.154
#*# pid_kd = 310.169
#*#
#*# [input_shaper]
#*# shaper_type_x = ei
#*# shaper_freq_x = 78.6
#*# shaper_type_y = 2hump_ei
#*# shaper_freq_y = 68.0
#*#
#*# [bed_mesh Cold]
#*# version = 1
#*# points =
#*# 	-0.051250, -0.026250, -0.017500, 0.032500, 0.015000
#*# 	-0.003750, -0.036250, -0.001250, 0.003750, 0.012500
#*# 	0.003750, -0.011250, 0.000000, 0.003750, 0.000000
#*# 	-0.043750, -0.077500, -0.060000, -0.038750, -0.017500
#*# 	-0.068750, -0.070000, -0.060000, -0.155000, -0.070000
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 158.0
#*# min_y = 20.0
#*# max_y = 158.0
#*#
#*# [bed_mesh 100]
#*# version = 1
#*# points =
#*# 	-0.083750, -0.048750, -0.030000, -0.003750, -0.013750
#*# 	-0.040000, -0.058750, -0.008750, -0.011250, -0.013750
#*# 	-0.008750, -0.017500, 0.000000, 0.005000, -0.015000
#*# 	-0.052500, -0.067500, -0.071250, -0.035000, -0.037500
#*# 	-0.080000, -0.056250, -0.071250, -0.140000, -0.066250
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 158.0
#*# min_y = 20.0
#*# max_y = 158.0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.003750, 0.013750, 0.028750
#*# 	  -0.011250, 0.007500, 0.033750
#*# 	  -0.030000, -0.023750, -0.012500
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 73.94
#*# max_x = 110.36
#*# min_y = 71.35
#*# max_y = 108.33
