#####################################################################
#   Probe
#####################################################################

[probe]
pin: ^EBBCan:PB6 # Tap
x_offset: 0
y_offset: 0 #25.0
# z_offset: 0 # to comment out
speed: 8 #10.0
lift_speed: 15
sample_retract_dist: 1.0
#   The distance (in mm) to lift the toolhead between each sample (if
#   sampling more than once). The default is 2mm.
samples: 3
samples_result: median
sample_retract_dist: 2.0
samples_tolerance: 0.006
samples_tolerance_retries: 4

activate_gcode:
  {% set PROBE_TEMP = 150 %}
  {% set MAX_TEMP = PROBE_TEMP + 5 %}
  {% set ACTUAL_TEMP = printer.extruder.temperature %}
  {% set TARGET_TEMP = printer.extruder.target %}

  {% if TARGET_TEMP > PROBE_TEMP %}
    { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
      M109 S{ PROBE_TEMP }
    {% else %}
    # Temperature target is already low enough, but nozzle may still be too hot.
      {% if ACTUAL_TEMP > MAX_TEMP %}
        { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
          TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
      {% endif %}
    {% endif %}


[bed_mesh]
speed: 400
horizontal_move_z: 3
mesh_min: 20, 20
mesh_max: 158,158
fade_start: 0.6
fade_end: 10.0
probe_count: 5,5
algorithm: bicubic
#relative_reference_index: 23

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[quad_gantry_level]

##  Gantry Corners for Micron+ Build
gantry_corners:
   -60.2,-13.4
   244.1,231.5
#  Probe points
points:
   15,15
   15,170
   170,170
   170,15

speed: 120
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075
max_adjust: 10
